.switcher{

    display: flex;

    button {
        border: 2px solid #3e3e3f;
        background-color: white;
        color: #3e3e3f;
        font-family: 'Outfit', sans-serif;
        padding: 10px 14px;
        -webkit-user-select: none;
        user-select: none;
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        cursor: pointer;
        transition: color .2s ease, background-color .2s ease, transform .2s ease;

        &:nth-of-type(1){
            border-right: none;
            border-radius: 10px 0 0 10px;
        }

        &:nth-of-type(2){
            border-left: none;
            margin-right: 65%;
            border-radius: 0 10px 10px 0;
        }
        &:nth-of-type(3){
            border-left: none;
            margin-right: 0;
            border-radius: 0 10px 10px 0;
        }
        &:nth-of-type(4){
            border-left: none;
            margin-right: 0;
            border-radius: 0 10px 10px 0;
        }

        &.active{
            background-color: #3e3e3f;
            color: #fff;
        }
        
        &.active2023{
            background-color: #eeff00;
            color: rgb(7, 7, 7);
        }
    }

    @media(max-width: 994px){

        button{
            &:nth-of-type(1){
                border-right: none;
                border-radius: 10px 0 0 10px;
            }
    
            &:nth-of-type(2){
                border-left: none;
                margin-right: 40%;
                border-radius: 0 10px 10px 0;
            }
        }
    }
    @media(max-width: 660px){

        button{
            &:nth-of-type(1){
                border-right: none;
                border-radius: 10px 0 0 10px;
            }
    
            &:nth-of-type(2){
                border-left: none;
                margin-right: 3%;
                border-radius: 0 10px 10px 0;
            }
        }
    }
    @media(max-width: 400px){
        display: inline-flex;
        width: 100%;
        flex-direction: column;
        max-width: 200px;

        button{
            &:nth-of-type(1){
                border-right: 2px solid #3e3e3f;
                border-bottom: none; 
                border-radius: 10px 10px 0 0;
            }

            &:nth-of-type(2){
                border-left: 2px solid #3e3e3f;
                border-top: none;
                width: inherit;
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

.main_wrapper{
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 1050px;
	border-radius: 10px;
	overflow: hidden;
	margin: 60px auto 80px;
}

.pequenos, .padrinhos {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 100%;
	transition: .3s ease;
}

.pequenos {
	left: -100%;
}

.padrinhos {
	left: 100%;
}

.checked {
	position: relative;
	left: 0;
	opacity: 1;
}

.wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	place-items: flex-start center;
	gap: 60px 100px;
	width: 100%;
	margin: 0 auto;

    @media (max-width: 780px) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
.wrapper23{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	place-items: flex-start center;
	gap: 60px 80px;
	width: 100%;
	margin: 0 auto;

    @media (max-width: 780px) {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

.aluno{
    width: 100%;
    max-width: 250px;

    .image{
        width: 100%;
        border-radius: 10px;
        user-select: none;
        overflow: hidden;
    }

    img{
        display: block;
        width: 100%;
        max-height: 210px;
        object-fit: cover;
    }

    .description{
        margin-top: 20px;
        text-align: start;
    }

    h3{
        font-weight: 600;
        color: rgb(44, 44, 44);
        font-family: "Brandon", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 8px;
        font-size: 1.1rem;
    }

    p{
        font-weight: 200;
        font-size: 0.95rem;
        line-height: 1.4;
        -webkit-hyphens: auto;
        hyphens: auto;

    }
}
