.card {
	padding: 45px 50px;
	width: 100%;
	min-height: 315px;
	max-width: 520px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.128);
	border-radius: 10px;
	background-color: #ffda00;
	color: #3e3e3f;

	h3 {
		font-size: 1.5rem;
		font-family: "Brandon", sans-serif;
		font-weight: 600;
	}
	
	p {
		margin-top: 15px;
		font-weight: 200;
		line-height: 1.35;
		text-align: justify;
		-webkit-hyphens: auto;
		hyphens: auto;
		font-size: 0.98rem;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 70px;
}

.text {
	width: 100%;
	max-width: 580px;

	p {
		margin-bottom: 10px;
		font-weight: 200;
		-webkit-hyphens: auto;
		hyphens: auto;
		text-align: justify;
		font-size: 1rem;
	}
	ul {
		li {
			display: block;
			font-weight: 200;
			margin-left: 20px;
			position: relative;
			text-align: justify;
			hyphens: auto;
			margin-bottom: 10px;

			&::before {
				position: absolute;
				left: -20px;
				clip-path: circle(50%);
				height: 3px;
				width: 3px;
				content: "";
				background-color: #000000;
				top: 10px;
			}
		}
	}
}

.banner_canal{
	width: 100%;
	position: relative;
	box-shadow: 0 10px 25px rgba(0, 0, 0, .20);
	padding: 90px 20px;
	color: rgb(230, 230, 230);
	object-fit: cover;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 50px;
	background-color: transparent;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
	transition: transform .4s ease;
	
	h2, p, a{
		width: 90%;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-weight: 800;
		font-size: 1.7rem;
		margin: 0 auto;
	}
	p {
		font-size: 1.2rem;
		width: 100%;
		font-weight: 300;
		max-width: 550px;
		margin: 0 auto;
	}
	a {
		border-radius: 50px;
		background-color: #ffda00;
		color: #000;
		max-width: 240px;
		display: block;
		margin: 10px auto 0;
		padding: 12px 20px;
	}
	&::before{
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		inset: 0;
		filter: brightness(0.4);
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../../assets/img/pequenos.jpeg');
		background-size: cover;
		transition: filter .35s ease, transform .35s ease;
	}

	&:hover{
		transform: translateY(-4px);

		&::before{
			transform: scale(1.1);
			filter: brightness(0.4) blur(9px);

		}
	}
}

@media (max-width: 940px) {
	.content {
		flex-direction: column;
	}
	.text {
		max-width: 520px;
	}
	.card {
		padding: 45px 35px;
	}
}
